body{
    padding: 0;
    margin: 0;
    display: border-box;
    height: 100vh;
    background-image: url('/images/backgroundImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.game-container{
    display: flex;
    justify-content: center;
}

.grid{
    position: absolute;
    margin-top: 40px;
    height: 332px;
    width: 332px;
    border: solid black 1px;
    background-color: rgb(122 113 151);
    border-radius: 4px;

}
.start-button{
    position: absolute;
    margin: auto;
    top:50%;
    left: 100px;
    width: 116px;
    background-color: rgb(0, 0, 0);
    color:white;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 4px 8px;
}
.start-button:hover{
    /* background-color: rgba(0,0,0,.75); */
    color:rgb(204, 235, 255);
}
.start-button:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
/* @media(min-width:769px){
    .grid{
    height: 500px;
    width: 500px;
}
} */
.platform{
    position: absolute;
    width: 58px;
    height: 9px;
    background-color: rgb(11, 4, 36);  
    border-radius: 2px;
}
.ball{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(204, 235, 255);
    border: solid black 1px;
}
.brick{
    position: absolute;
    width: 58px;
    height: 18px;
    background-color: black;
    border-radius: 2px;

}
/* @media(min-width:769px){
    .brick{
    width: 48px;
    height: 15px;
    background-color: red;
    margin: 1px 1px;
}
} */