*{
    font-family: 'Zen Dots', cursive;

}
body{
    padding: 0;
    margin: 0;
    display: border-box;
    height: 100vh;
    width: 100vw;
    background-image: url('/images/backgroundImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.game-container{
    display: flex;
    justify-content: center;
}
.arrow-controls{
    position: relative;
    display: flex;
    left: 18%;
    top: 104%;
}
.arrow{
    margin: 0 11px;
    width:25%;
    height:40px;
    background-color: rgb(122 113 151);
    border-radius: 2px;
    outline: none;
    cursor: pointer;
    border: none;
    font-size: 30px;
}
@media(min-width:769px){
    .arrow{
    display: none;
}
}
.arrow:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}

.grid{
    position: absolute;
    margin-top: 15%;
    height: 332px;
    width: 332px;
    border: solid black 1px;
    background-color: rgb(122 113 151);
    border-radius: 4px;

}
@media(max-width:769px){
.grid{
    margin-top: 25%;
}
}

.start-button {
    position: absolute;
    margin: auto;
    top:50%;
    width: 100%;
    background-color: rgb(152 143 180);
    color:white;
    font-size: 20px;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 4px 8px;
}
.start-button:hover{
    color:rgb(204, 235, 255);
}
.start-button:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
.restart-button{
    position: absolute;
    margin: auto;
    top:50%;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color:white;
    outline: none;
    cursor: pointer;
    border: none;
    border-radius: 2px;
    padding: 4px 8px;
}
.restart-button:hover{
    color:rgb(204, 235, 255);
}
.restart-button:active {
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
}
.score{
    position: relative;
    top:-21px;
    left: 14%;
    color: white;
    font-weight: 700;
  animation: blinker 1s linear infinite;

}
@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.platform{
    position: absolute;
    width: 58px;
    height: 9px;
    background-color: rgb(11, 4, 36);  
    border-radius: 2px;
}
.ball{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(204, 235, 255);
    border: solid black 1px;
}
.brick{
    position: absolute;
    width: 58px;
    height: 18px;
    background-color: black;
    border-radius: 2px;

}
